DISCORD_BOT_TOKEN=
TELEGRAM_BOT_TOKEN=
FRED_API_KEY=
SEC_USER_AGENT=
DISCORD_UPDATES_CHANNEL_ID=
DISCORD_QUESTIONS_CHANNEL_ID=
INOREADER_FINANCE_LIVE_FEED_URL=
INOREADER_ETF_LIVE_FEED_URL=
INOREADER_DATASCIENCE_LIVE_FEED_URL=
FIRECRAWL_BASE_URL=